/node_modules
/*.env
npm-debug.log
.DS_Store
/templates
# Local Netlify folder
.netlify
/dist
/coverage
report.html
 
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
